html {
    background-image: url('images/new-background.jpg');
    background-size: 100%;
}
.banner {
    display: flex;
    flex-flow: row;
    border-radius: 6px;
    opacity: 0.8;
    width: 100%;
    overflow: auto;
}
.banner .links {
    width: 33.33%;
    flex: 1 1;
    border: 1px solid transparent;
    border-radius: 6px;
    font-family: 'Source Code Pro', 'Courier New', monospace;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
}

.banner .links a:visited {
    color: black;
}

.banner .links a:hover {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 6px;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    border-radius: 100px;
}

.statement {
    font-family: 'Source Code Pro', 'Courier New', monospace;
    text-align: center;
    font-size: 18px;
    margin: 10px 20%;
    color: black;
}

.statement a:visited {
    color: black;
}

.statement a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    color: black;
    font-family: 'Source Code Pro', 'Courier New', monospace;
    font-size: 14px;
    text-align: center;
}