html {
    background-image: url('images/new-background.jpg');
    background-size: 100%;
}
.banner {
    background-color: gray;
    margin: 0px;
    border-radius: 6px;
    opacity: 0.8;
    width: 100%;
    overflow: auto;
}
.banner .links a {
    width: 33.33%;
    padding: 13.776%;
    border: 1px solid transparent;
    border-radius: 6px;
    font-family: 'Source Code Pro', 'Courier New', monospace;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: black;
}

.banner .links a:visited {
    color: white;
}

.banner .links a:hover {
    background-color: white;
    padding: 13.776%;
    color: black;
    border: 1px solid white;
    border-radius: 6px;
}

.profile-pic {
    display: block;
    margin: auto;
    width: 33%;
    border-radius: 100px;
}

.statement {
    font-family: 'Source Code Pro', 'Courier New', monospace;
    text-align: center;
    font-size: 18px;
    margin: 10px 20%;
    color: black;
}

.statement a:visited {
    color: black;
}

.statement a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}